.qtdItems{
    display: inline-flex;
    text-align: center;
    margin: 0!important;
}

input.qtd{
    text-align: center!important;
    background-color: white!important;
    height: 2.4rem;
    border-bottom: 0!important;
}

button.qtd{
    width: 50px;
    height: 30px;
    margin: 7px 3px;
    border: 0px;
}
