.item{
    text-align: left;
    margin: 10px;
}

.card .card-title{
    font-size: 18px;
}

.value{
 font-size:15px;
 font-weight: 700;
 line-height: 50px;
}

.card-action{
    padding: 5px!important;
}

.card-action a{
    color: white!important;
    margin: 7px!important;
}